<head>
<link rel="stylesheet" type="text/css" href='stylesheets/style.css'>
<body>
<a href='/'>Home</a>
<a href='/submitted'>Board</a>

<form action="/postMessage" method="post">

	<input id="title" "type="text" name="title">
	<input type="text" name="body">
	<input type="submit" value="Send in">

	<h1>Hellloooo</h1>